<div class="login-container">
  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
    <h2><%= t("carnival_devise.confirmations.new") %></h2>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.submit t("carnival_devise.confirmations.new") %></div>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
