<p><%= t('carnival_devise.mailer.hello') %> <%= @resource.email %>!</p>

<p><%= t('carnival_devise.mailer.change_message') %>.</p>

<p><%= link_to t('carnival_devise.mailer.change'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('carnival_devise.mailer.ignore') %>.</p>
<p><%= t('carnival_devise.mailer.wont_change') %>.</p>
