%p
  = t('carnival_devise.mailer.hello')
  = @resource.email
  \!
%p
  = t('carnival_devise.mailer.change_message')
  \.
%p= link_to t('carnival_devise.mailer.change'), edit_password_url(@resource, :reset_password_token => @token)
%p
  = t('carnival_devise.mailer.ignore')
  \.
%p
  = t('carnival_devise.mailer.wont_change')
  \.
